body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.quadrant {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quadrant h2 {
    margin-top: 0;
}

.post-it-container {
    min-height: 100px;
    margin-top: 10px;
    overflow-y: auto;
}

.post-it {
    background-color: #ffd700;
    padding: 10px;
    margin: 10px 0;
    cursor: move;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 0; /* Remover margem inferior */
    top: 1px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
/* Adicione ao final do arquivo styles.css */

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
/* Adicione ao final do arquivo styles.css */

.tasks-container {
    margin-top: 20px;
}

.task {
    background-color: #ffd700;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bt-saving{
    text-align: center;
}